<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

  <title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />

</head>

<body>

  <div class="container">

    <!-- Flashed messages before content -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h1>Create memo</h1>

    <form id='memo'>
      <p>Date</p>
      <input type='date' id='memo-date' value="2017-01-01" />

      <br><br>

      <p>Memo Content</p>
      <textarea id='memo-text'></textarea>

      <br><br>

      <input type='button' id='memo-submit' value='Create' />
      <input type='button' id='cancel-create' value='Cancel' />
    </form>

  </div> <!-- container -->

</body>

<style>
#memo-text {
  height: 200px;
  width: 400px;
}

#cancel-create {
  margin-left: 10px;
}
</style>

<script>
$(document).ready(function() {
  $('#memo-submit').click(function() {
    var text = $('#memo-text').val();
    var date = $('#memo-date').val();
    createMemo(text, date);
  });

  $('#cancel-create').click(function() {
    window.location.href = '/index';
  });
});

function createMemo(text, date) {
  $.getJSON('/_create_memo', { text: text, date: date },
      function(data) {
        console.log(data);
        console.log(data.uid);

        data.success
          ? window.location.href = '/index'
          : alert('something went wrong, memo not added to db\n(db server running?)');
      }
  );
}
</script>

</html>
